@import '_variables';

.Select.is-invalid ~ .invalid-feedback {
  display: block;
}

// overrides

.Select-control {
  width: 100%;
  font-size: 1rem;
  line-height: 1.5;
  background-color: $bg-color;
  padding-top: 0.21rem;
  padding-bottom: 0.21rem;
  border-radius: 0;
  border: solid 1px $border-color;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.Select.is-focused {
  color: $font-color;
  background-color: $bg-color;
  border-color: $border-focused-color;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 87, 155, 0.25);

  .Select-control {
    border-color: $border-focused-color;
  }
}

.Select.is-invalid,
.Select.is-invalid {
  border-color: $border-error-color;

  &.is-focused {
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
  }

  .Select-control {
    border-color: $border-error-color;
  }
}

.Select-input input {
  color: $font-color;
}

.Select-value {
  padding-top: 0.2rem;
}

.Select-clear {
  color: $icon-color;
}

.Select-placeholder {
  padding-top: 0.2rem;
  color: $placeholder-font-color;
}

.Select-arrow-zone:last-child {
  padding-right: 1rem;
  padding-top: 0.2rem;
}

.Select-menu-outer {
  z-index: 100;
}
