@import '_variables';

.task {
  display: block;

  position: absolute;
  right: 1.7rem;
  top: 0;
  z-index: 10;
  background-color: $bg-color;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);

  opacity: 1;
  visibility: visible;
  transition: visibility 0s linear 0s, opacity 0.15s linear;
}

.task--hidden {
  visibility: hidden;
  opacity: 0;
}

.task__buttons {
  margin-right: -1rem;
}
