.modalWindow {
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
  border: solid 1px #979797;
}

.modalInput {
  border: solid 1px #4285f4;
}

.searchInput {
  width: 100%;
  border: white;
}

.searchIcon {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 1%;
}

.vacationInfo {
  font-size: 0.75rem;
  font-weight: 600;
  text-align: left;
  color: #868686;
}
