.vacation-header {
  display: flex;
  justify-content: space-between;

  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.form-header {
  font-weight: 600;
}

.vacation-header__link {
  font-size: 1rem;
  font-weight: normal;
}
