@import '_variables';

.file-upload {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 67px;

  border-radius: 5px;
  border: dashed 1px #979797;
}

.file-upload__text {
  color: $icon-color;
  text-decoration: underline;
}
