@import '_variables';

.date-picker {
  position: relative;
}

.date-picker__icon {
  position: absolute;
  top: 0.5rem;
  right: 1.2rem;
  z-index: 1;
}

.date-picker.is-invalid ~ .invalid-feedback {
  display: block;
}

// overrides

.react-datepicker__input-container {
  width: inherit;
}

.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker__close-icon {
  display: block;

  &:after {
    right: 3.2rem;
    top: 1.2rem;
    color: $icon-color;
    background-color: initial;
    font-size: 18px;
    line-height: 1;
  }
}
