@import '_variables';

.vacationType {
  font-size: 1rem;
  text-align: left;
  color: #000000;
}

.vacationInfo {
  font-size: 0.75rem;
  font-weight: 600;
  text-align: left;
  color: #868686;
}

.status {
  font-weight: 600;
}

.status--rejected {
  color: $rejected;
}

.status--in_approval {
  color: $in_approval;
}

.status--approved {
  color: $appoved;
}

.status--draft {
  color: $font-color;
}

.status--progress {
  margin-top: 2%;
}

.request-table tr:first-child td {
  border-top: none;
}
