@import '_variables';

.timeline {
  position: relative;

  display: flex;
  justify-content: space-between;
  height: 200px;
  z-index: 1;

  &:before {
    border-top: 0.15rem solid $primary-color;
    content: '';
    margin: 0 auto;
    position: absolute;
    top: 1rem;
    bottom: 0;
    width: calc(100% - 7rem);
    z-index: -1;
  }
}

.timeline-task {
  position: relative;
}

.timeline-task__description {
  position: absolute;
  margin-top: 1rem;
  margin-left: -1.5rem;
}

.timeline-task__data {
  font-size: 0.85rem;
}

.timeline-task__circle {
  height: 2rem;
  width: 2rem;

  border-radius: 50%;
  border-width: 0.15rem !important;
}
