@import '_variables';

.myVacationRequestsWidget {
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  border: solid 1px #cfd8dc;
}

.header {
  height: 2.375rem;
  font-size: 1.75rem;
  font-weight: 600;
  text-align: left;
  color: #000000;
}

.widgetSection {
  margin-top: 2%;
}

.widget {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.widget__body {
  max-height: 350px;
  overflow-y: scroll;
}

.plusIcon {
  margin-right: 5%;
}

.cardHeaderText {
  margin-top: 1%;
}

.cardHeaderInformationText {
  margin-top: 3%;
}

.informationLine {
  margin-top: 3%;
}

.modalWindow {
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
  border: solid 1px #979797;
}

.modalInput {
  border: solid 1px #4285f4;
}

.searchInput {
  width: 100%;
  border: white;
}

.searchIcon {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 1%;
}
