.dropdown-wrapper {
  position: relative;
}

.dropdown-wrapper__icon {
  position: absolute;
  top: 0.9rem;
  right: 0.3rem;
  z-index: 0;
}

// override

.dropdown-toggle:after {
  border: none;
  height: 10px;
  width: 13px;
}
