$font-color: #495057;
$placeholder-font-color: #6c757d;
$border-color: #979797;
$border-focused-color: #1c9bff;
$border-error-color: #dc3545;
$bg-color: #ffffff;
$icon-color: #4285f4;
$in_approval: #eebd11;
$appoved: #26ab4b;
$rejected: #c90101;
$primary-color: #00579b;
