@import '_variables';
$theme-colors: ('primary': $primary-color);

$font-family-base: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
  Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji',
  'Segoe UI Emoji', 'Segoe UI Symbol' !default;

@import 'node_modules/bootstrap/scss/bootstrap';

.font-weight-600 {
  font-weight: 600;
}

.pointer {
  cursor: pointer;
}
