.bottombar {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  margin-left: calc(42px + 1rem);
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
  width: calc(100% - 42px - 2rem);
  background-color: #ffffff;
}
