@import '_variables';

.files {
  display: flex;
  flex-wrap: wrap;
}

.file {
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
  border: solid 0.5px transparent;
}

.file--full {
  .react-pdf__Page__textContent {
    left: 38.8% !important;
  }
}

.file__name {
  height: 2.5rem;
  padding-left: 0.5rem;
  padding-top: 0.5rem;
  max-width: 200px;

  font-weight: 500;
  color: $icon-color;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  background-color: #fafafa;
}

.preview-container {
  max-height: calc(100vh - 130px);
  overflow-y: scroll;
}
