@import '_variables';

.task-notification {
  position: absolute;
  right: 0;
  top: -1.7rem;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.4rem;
  height: 3.4rem;
  z-index: 20;

  border-radius: 50%;

  font-size: 1.3rem;
  color: $bg-color;
  background-color: $icon-color;
  cursor: pointer;
}
