@import '_variables';

.userType {
  font-size: 1rem;
  text-align: left;
  color: #000000;
  width: 100%;
}

.userInfo {
  font-size: 0.75rem;
  font-weight: 600;
  text-align: left;
  color: #868686;
  width: 100%;
}

.status {
  font-weight: 600;
}

.status--rejected {
  color: $rejected;
}

.status--in_approval {
  color: $in_approval;
}

.status--approved {
  color: $appoved;
}

.status--draft {
  color: $font-color;
}

.status--progress {
  margin-top: 2%;
}

.search{
  margin-top :2%;
}
.userIcon {
  float: right;
}
